:root {
  --color-ball: #5cabff;
  --color-bg: #000;
  --color-rope: #c7c7c7;
  --angle-ball: 20deg;
}

body {
  background-color: var(--color-bg);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 60px;
  overflow: hidden;
}

.scene {
  position: absolute;
}

.scene .ball {
  position: absolute;
  background: radial-gradient(circle at 0.6em 0.6em, var(--color-ball), #000);
  width: 2em;
  height: 2em;
  border-radius: 50%;
  -webkit-transform-origin: 50% -52vh;
          transform-origin: 50% -52vh;
}

.scene .ball::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 52vh;
  background-color: var(--color-rope);
  left: 1em;
  top: -52vh;
}

.scene .first {
  -webkit-transform: translateX(-5em);
          transform: translateX(-5em);
  -webkit-animation: first 1s alternate ease-in infinite;
          animation: first 1s alternate ease-in infinite;
}

.scene .second {
  -webkit-transform: translateX(-3em);
          transform: translateX(-3em);
  -webkit-animation: second 1s alternate ease-in infinite;
          animation: second 1s alternate ease-in infinite;
}

.scene .third {
  -webkit-transform: translateX(-1em);
          transform: translateX(-1em);
}

.scene .fourth {
  -webkit-transform: translateX(1em);
          transform: translateX(1em);
  -webkit-animation: fourth 1s alternate ease-out infinite;
          animation: fourth 1s alternate ease-out infinite;
}

.scene .fifth {
  -webkit-transform: translateX(3em);
          transform: translateX(3em);
  -webkit-animation: fifth 1s alternate ease-out infinite;
          animation: fifth 1s alternate ease-out infinite;
}

@-webkit-keyframes first {
  0% {
    -webkit-transform: translateX(-5em) rotate(var(--angle-ball));
            transform: translateX(-5em) rotate(var(--angle-ball));
  }
  50% {
    -webkit-transform: translateX(-5em) rotate(0deg);
            transform: translateX(-5em) rotate(0deg);
  }
}

@keyframes first {
  0% {
    -webkit-transform: translateX(-5em) rotate(var(--angle-ball));
            transform: translateX(-5em) rotate(var(--angle-ball));
  }
  50% {
    -webkit-transform: translateX(-5em) rotate(0deg);
            transform: translateX(-5em) rotate(0deg);
  }
}

@-webkit-keyframes second {
  0% {
    -webkit-transform: translateX(-3em) rotate(var(--angle-ball));
            transform: translateX(-3em) rotate(var(--angle-ball));
  }
  50% {
    -webkit-transform: translateX(-3em) rotate(0deg);
            transform: translateX(-3em) rotate(0deg);
  }
}

@keyframes second {
  0% {
    -webkit-transform: translateX(-3em) rotate(var(--angle-ball));
            transform: translateX(-3em) rotate(var(--angle-ball));
  }
  50% {
    -webkit-transform: translateX(-3em) rotate(0deg);
            transform: translateX(-3em) rotate(0deg);
  }
}

@-webkit-keyframes fourth {
  50% {
    -webkit-transform: translateX(1em) rotate(0deg);
            transform: translateX(1em) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(1em) rotate(calc(-1 * var(--angle-ball)));
            transform: translateX(1em) rotate(calc(-1 * var(--angle-ball)));
  }
}

@keyframes fourth {
  50% {
    -webkit-transform: translateX(1em) rotate(0deg);
            transform: translateX(1em) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(1em) rotate(calc(-1 * var(--angle-ball)));
            transform: translateX(1em) rotate(calc(-1 * var(--angle-ball)));
  }
}

@-webkit-keyframes fifth {
  50% {
    -webkit-transform: translateX(3em) rotate(0deg);
            transform: translateX(3em) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(3em) rotate(calc(-1 * var(--angle-ball)));
            transform: translateX(3em) rotate(calc(-1 * var(--angle-ball)));
  }
}

@keyframes fifth {
  50% {
    -webkit-transform: translateX(3em) rotate(0deg);
            transform: translateX(3em) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(3em) rotate(calc(-1 * var(--angle-ball)));
            transform: translateX(3em) rotate(calc(-1 * var(--angle-ball)));
  }
}
/*# sourceMappingURL=style.css.map */